.box-main {
    background-image: url("../img/aurora.jpg");
    /* width: 474px; */
    height: 266px;
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    width: 100%;
    text-align: right;
    height: 80px;
}
li {
    padding: 25px 35px;
    color: rgb(64, 64, 64,.9);
    font-size: 1.4em;
    display: inline-block;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.last-item {
    margin: 80px;
}
