.container-puntuacion{
    margin-bottom: 35px;
}
.barra {
    margin-bottom: 10px;
    width: 230px;
    height: 27px;
    border: 1px solid black;
    border-radius: 10px;
}
/* .barra1:hover{
    background-color: yellow;
    animation: ;
    transition: 200ms;
    cursor: pointer;

} */
.barrita{
    position: relative;
    /* height: 100%; */
    /* width: 80%; */
    background-color: orange;
    transition: width 0.5s;
    max-width: 100%;
    border-radius: 10px;

}