* {
    margin: 0;
    padding: 0;
}
.Box{
    width: 300px;
    height: 300px;
    margin: 25px;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 50px;
    text-align: center;
    background-color: black;
    color: white;
}
p {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    align-items: center;
    padding: 42% 0;
}
.conjunto-1 {
    display: inline-flexbox;
    text-align: center;
    margin: 3%;
    justify-content: center;
    display: flex;
}
.box-box-1 {
    background-color: rgb(0, 0, 0);
    box-shadow: 21px 19px 10px rgb(36, 36, 44);
}  

.box-box-2 {
    background-color: rgb(49, 4, 214);
    box-shadow: 21px 19px 10px rgb(39, 39, 105);
}
.box-box-3 {
    background-color: rgb(219, 151, 25);
    box-shadow: 21px 19px 10px rgb(146, 116, 60);
}

.box-box-4 {
    background-color: rgb(204, 0, 0);
    box-shadow: 21px 19px 10px rgb(145, 39, 39); 
}
.box-box-5 {
    background-color: rgb(156, 38, 156);
    box-shadow: 21px 19px 10px rgb(121, 62, 141); 
}
.box-box-6 {
    background-color: rgb(14, 231, 159);
    box-shadow: 21px 19px 10px rgb(107, 165, 131); 
}