
h1 {
    text-align: center;
    align-items: center;
}
label{
    display: block;
}
input[type="text"] {
    padding: 6px;
    font-size: 1.2em;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(64, 64, 64, 0.8);
}
input[type="text"]:focus {
    outline: none;
}
form {
    width: 300px;
}
.cuadro {
    align-items: center;
    display: flex;
    justify-content: center ;
    text-align: center;
}
.margen {
    margin: 2px 2px 2px 2px;
}

