*{
    margin: 0;
    padding: 0;
}
.empty-left {
    grid-area: empty-left;
    background-color: whitesmoke;
}
.empty-right {
    grid-area: empty-right;
    background-color: whitesmoke;
    z-index: 30;
}
.main-nav {
    background-color: red;
    grid-area: main-nav;
}
.main-ul {
    list-style: none;
    font-size: 1.3em;
    margin-top: 15px;
    margin-right: 40px;
    text-align: right;
}
.main-content {
    display: grid;
    grid-template:  "empty-left     main-nav    empty-right"125px
                    "empty-left     box-marco    empty-right"800px
                    "empty-left     iconos       empty-right"/
                     1fr            1439px        1fr;
}
.main-nav {
    grid-area: main-nav;
}
.box-marco {
    margin-top: -5.2%;
    grid-area: box-marco;
    /* z-index: 30; */

}
.style-li {
    display: inline-block;

}
.style-item {
    color: white;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    font-size: 1.3em;
    padding: 15px 25px 15px 25px;
}
.box-img {
    display: inline-flex;
}
.img-1 {
    width: 100%;
    position: relative;
    z-index: 20;
    left: 0;
    transition: left 2s;

}
.img-1-hidden{
    width: 100%;
    position: relative;
    z-index:10;
    left: -600%;
    transition: left 3s;
}
.img-2{
    width: 100%;
    position: relative;
    z-index: -20;
    left: -100%;
    transition: left 1s;
}
.img-2-hidden{
    width: 100%;
    position: relative;
    /* z-index: 99; */
    left: 100%;
    transition: left 2s;
}
a {
    margin-left: 20px;
    color: white;
}
.logo {
    /* position: absolute;
    font-size: 2.5em; */
    height: 40px;
    margin-top: 10px;
    margin-left: 50px;
}
.iconos {
    grid-area: iconos;
    height: 100vh;

}

/* ------------------------------------------------------------- */
.flecha-adelante{
    width: 80px;
    position: relative;
    top: 53.5vh;
    left: 95%;
    z-index: 21;
    color: orange;
    font-size: 2em;
}
.flecha-atras {
    width: 80px;
    position: relative;
    top: 50vh;
    left: 40px;
    z-index: 21;
    color: orange;
    font-size: 2em;
    
}
/* .img-1:hover {
    position: relative;
    left: -1750px;
    transition: left 4s;
} */
