
* {
    margin: 0;
    padding: 0;
}
.table-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
table {
    border-collapse:collapse ;
}
th{
    border: 1px solid black;
    padding: 8px 10px;
    background-color: rgb(227, 6, 19);
}
td {
    border: 1px solid black;
    padding: 8px 10px;
}
h1 {
    text-align: center;
    background-color: rgb(227, 6, 19);
    height: 50px;
}
img { 
    width: 300px;
}
