* {
    margin: 0;
}

.main-container {
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(31, 29, 40), rgb(36, 29, 44));

}

.img-mountains {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.img-stars {
    z-index: 5;
    width: 100%;
    position: absolute;
}

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    /* background-color: aqua; */
    position: absolute;
    top: 120px;
    /* order: 2; */
    /* grid-row: 2; */
}

.txt-title {
    color: white;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 245px;
    background-color: rgb(44, 44, 68);
}

.chart h2 {
    color: rgb(208, 76, 111);
}

.chart-container p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    height: 40px;
    color: white;
}

.icons {
    display: flex;
    gap: 40px;
    position: absolute;
    bottom: 8%;

}

.fa-brands {
    color: black;
    font-size: 2em;
}

.fa-facebook:hover {
    transition: 1s;
    color: rgb(66, 103, 178);
}
.fa-pinterest {
    /* background-color: white; */
    border-radius: 80%;
}
.fa-pinterest:hover {
    transition: 1s;
    color: red;
    background-color: white;
    border-radius: 80%;

}
.icono-ing{
    transition:all  6s ease-in-out;
    -webkit-text-fill-color: black;

}
.icono-ing:hover {

    border-radius: 20%;
    background: linear-gradient(to bottom right, rgb(167, 16, 242), rgb(255, 8, 11), rgb(252, 195, 9));
    /* Grande Bing */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    

}
.button {
    width: 125px;
    height: 125px;
    background-color: aqua;
    z-index: 7;

}
.button:hover {
    cursor: pointer;
    background-color: red;
}
#seconds {
    font-size: 7em;
    color: rgb(208, 76, 111);
}