* {
    margin: 0;
}

.main-container {
    /* grid-template-rows: 1fr 1fr;} */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(31, 29, 40), rgb(36, 29, 44));

}
.main-modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: brown;
    z-index: 45;

}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container-button{
    margin-top: 80px;
}

.img-mountains {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.img-stars {
    z-index: 1;
    width: 100%;
    position: absolute;
}

.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    /* background-color: aqua; */
    position: absolute;
    top: 70px;
    /* order: 2; */
    /* grid-row: 2; */
}

.txt-title {
    color: white;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 245px;
    background-color: rgb(44, 44, 68);
}

.chart h2 {
    color: rgb(208, 76, 111);
}

.chart-container p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    height: 40px;
    color: white;
}

.icons {
    display: flex;
    gap: 40px;
    position: absolute;
    bottom: 8%;

}

.fa-brands {
    color: black;
    font-size: 2em;
}

.fa-facebook:hover {
    transition: 1s;
    color: rgb(66, 103, 178);
}
.fa-pinterest {
    /* background-color: white; */
    border-radius: 80%;
}
.fa-pinterest:hover {
    transition: 1s;
    color: red;
    background-color: white;
    border-radius: 80%;

}
.icono-ing{
    /* transition:all  6s ease-in-out; */
    -webkit-text-fill-color: black;

}
.icono-ing:hover {

    border-radius: 20%;
    background: linear-gradient(to bottom right, rgb(167, 16, 242), rgb(255, 8, 11), rgb(252, 195, 9));
    /* Grande Bing */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    

}
.button {
    width: 125px;
    height: 125px;
    background-color: rgb(27, 23, 209);
    z-index: 98;

}
.button:hover {
    cursor: pointer;
    background-color: red;
}
#seconds,#minutes,#hours,#days {
    font-size: 7em;
    color: rgb(208, 76, 111);
}

@media only screen and (min-width:320px) and (max-width:768px){

    .txt-title {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .countdown {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .container-button {
        margin-top: 20px; /* Espacio entre countdown y container-button */
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70px;
        height: 70px;
    }
    
    .chart{
        height: 70px;
        width: 70px;
    }

    #seconds,#minutes,#hours,#days{
        font-size: 1.9em;
        color: rgb(208, 76, 111);
    }
    .container-button{
        display: block;

    }
    .button{
        display: flex;
    }
    .img-stars{
        z-index: 5;
        width: 100%;
        position: absolute;
    }
    .img-mountains{
        height: 135px;
        width: 250%;
        z-index: 1;
    }
    .icons {
        z-index: 2;
    }
    .fa-brands {
        color: rgb(128, 130, 164);
        font-size: 2em;
    }
    .icono-ing{
        /* transition:all  6s ease-in-out; */
        -webkit-text-fill-color: rgb(128, 130, 164);
    
    }
    .chart-container p {
        font-size: 0.7em;
        color: rgb(128, 130, 164);
    }
}